<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../basic/head.ejs") %>
    </head>

    <body>
        <div class="container">
            <%- include("../basic/navbar.ejs") %>

            <div class="row">
                <%- include("../abasic/cnav.ejs") %>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Admin panel</div>
                        <div class="card-body">Savolar qo'shish test qilish , Yangi savol qo'shish , contest yaratish</div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../basic/footer.ejs") %>
    </body>
</html>
