<div class="col col-lg-2">
    <div class="card">
        <div class="card-header">
            <b>Sahifalar</b>
        </div>
        <ul class="list-group list-group-flush">
            <a href="/about" class="list-group-item list-group-item-action <% if (pageInfo == 'main') { %> active <% } %>">Musobaqalar</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/news" class="list-group-item list-group-item-action <% if (pageInfo == 'news') { %> active <% } %>">Yangliklar</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="https://t.me/mensenvau/" target="_blank" class="list-group-item list-group-item-action <% if (pageInfo == 'team') { %> active <% } %>">Telegram kanali</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="https://www.onlinegdb.com/" target="_blank" class="list-group-item list-group-item-action <% if (pageInfo == 'kompilyator' ) { %>active <% } %>">Onlayn kompilyator</a>
        </ul>
    </div>
</div>
