<!-- success message -->
<% if(data.success) { %>
<br />
<div class="alert alert-success" role="alert"><%= data.success %></div>
<% } %>

<!-- error message -->
<% if(data.error) { %>
<br />
<div class="alert alert-danger" role="alert"><%= data.error %></div>
<% } %>
