<div class="col col-lg-2">
    <div class="card">
        <div class="card-header"><b>Menu</b></div>
        <ul class="list-group list-group-flush">
            <a href="/admin" class="list-group-item list-group-item-action <% if (pageInfo == 'home') { %> active <% } %>">Home</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/admin/tasks" class="list-group-item list-group-item-action <% if (pageInfo == 'tasks') { %> active <% } %>">Tasks</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/admin/tasksadd" class="list-group-item list-group-item-action <% if (pageInfo == 'tasksadd') { %> active <% } %>">Task Add</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/admin/contest" class="list-group-item list-group-item-action <% if (pageInfo == 'contest') { %> active <% } %>">Contests</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/admin/contestadd" class="list-group-item list-group-item-action <% if (pageInfo == 'contestadd') { %> active <% } %>">Contest Add</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/admin/news" class="list-group-item list-group-item-action <% if (pageInfo == 'news') { %> active <% } %>">News</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="/admin/newsadd" class="list-group-item list-group-item-action <% if (pageInfo == 'newsadd') { %> active <% } %>">News Add</a>
        </ul>
        <ul class="list-group list-group-flush">
            <a href="https://drive.google.com/drive/folders/1txRhuDlGdtO2Gjud-zTVSO42lcjWd5qQ?usp=sharing" target="_blank" class="list-group-item list-group-item-action <% if (pageInfo == '2') { %> active <% } %>">Public File</a>
        </ul>
    </div>
</div>
