<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yangliklar - mycontest.dev</title>
        <%- include("../basic/head.ejs") %>
    </head>

    <body>
        <%- include("../basic/navbar.ejs") %>

        <div class="container">
            <div class="row">
                <%- include("../basic/sidebar.ejs") %>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <b>Yangliklar</b>
                        </div>
                        <div class="card-body">
                            <b>👋 Salom Talabalar,</b>
                            <p>Sizni erta tongda Buxoro Davlat Universitetida o‘tkaziladigan saralash bosqichiga taklif qilamiz. Birinchi o‘rinni egallagan ishtirokchi keyingi bosqichga o‘tadi."</p>
                            <span>Sana: 27.11.2024</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../basic/footer.ejs") %>
    </body>
</html>
