<div class="col col-lg-2">
  <div class="card">
    <div class="card-header">
      <a href="/admin" style="text-decoration: none;">Menu</a>
    </div>
    
    <ul class="list-group list-group-flush">
      <a href="/admin/tasks" class="list-group-item list-group-item-action <% if (pageInfo == "tasks") { %> active <% } %> ">Masalalar</a>
    </ul>
    <ul class="list-group list-group-flush">
      <a href="/admin/tasksadd" class="list-group-item list-group-item-action <% if (pageInfo == "tasksadd") { %> active <% } %> ">Masala ++</a>
    </ul>
    <ul class="list-group list-group-flush">
      <a href="/admin/contest" class="list-group-item list-group-item-action <% if (pageInfo == "contest") { %> active <% } %> ">Contestlar</a>
    </ul>
    <ul class="list-group list-group-flush">
      <a href="/admin/contestadd" class="list-group-item list-group-item-action <% if (pageInfo == "contestadd") { %> active <% } %> ">Contest ++</a>
    </ul>
    <ul class="list-group list-group-flush">
      <a href="/admin/manger" class="list-group-item list-group-item-action <% if (pageInfo == "1") { %> active <% } %> ">Test Case</a>
    </ul>
    <ul class="list-group list-group-flush">
      <a href="/admin/public" class="list-group-item list-group-item-action <% if (pageInfo == "2") { %> active <% } %> ">Public</a>
    </ul>
  </div>
  
</div>